<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Grassroots.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFF85DA81D627F4B00DCC0B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFF85DBE1D627F4B00DCC0B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFF85DC91D627F4B00DCC0B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
